 <style type="text/css">   

    #formul {  
        padding: 20px 0px 0px 30px;  
    }  
    
    .campos {  
        width: 700px;                 
        font-size:12pt;                 
    }  
    
    .boton{ 
        font-size:16px; 
        font-weight:bold; 
    } 
    
</style>  
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
              <div id ="formul">
                  <h1>Register a new book:</h1>
				    <form>
                      <label for="major">Major:</label><br> <input class="campos" type="text" name="major" id="major"/><br>
                      <label for="title">Title:</label><br> <input class="campos" type="text" name="title" id="title"/><br>
                      <label for="author">Author:</label><br> <input class="campos" type="text" name="author" id="author"/><br>
                      <label for="publisher">Publisher:</label><br> <input class="campos" type="text" name="publisher" id="publisher"/><br>
                      <label for="price">Price:</label><br> <input class="campos" type="text" name="price" id="price"/><br>
                      <label for="photo">Cover photo:</label><br> <input type="file" name="photo" id="photo"><br>
                      <label for="comments">Comments:</label><br> <textarea class="campos" rows="10" name="comments"></textarea><br>  
                      <input class="boton" type="submit" name="submit" value="Submit">
                    </form>
              </div>