    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
            <form name="search" method="get" action="a.jsp" onsubmit="return check()">
                <table width="200" border="0" align="center">
                    <tr>
                        <td align="center" valign="bottom">
                        <select name="keyField">
                            <option value="Major">Major</option>
                            <option value="Title">Title</option>
                            <option value="Author">Author</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" size="30" name="keyWord">
                        </td>
                        <td>
                            <input type="submit" value="Search">
                        </td>
                    </tr>
                </table>
            </form>>